@font-face {
    font-family: 'inconsolata';
    src: url('inconsolata-webfont.woff2') format('woff2'),
         url('inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}