@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
    box-sizing: border-box;
}

html {
    display: table;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 768px;
    display: block;
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'URW Geometric', 'Segoe UI Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.314159em;
    font-weight: bold;
}

h2 {
    font-size: 1.1em;
    font-style: italic;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

pre {
    font-family: 'PragmataPro', Inconsolata, Consolas, monospace;
}

.log {
    font-family: 'PragmataPro', Inconsolata, Consolas, monospace;
}

.project {
    display: block;
    margin: auto;
}

.column {
    float: left;
    padding: 1em;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.serif {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.monospace {
    font-family: 'PragmataPro', 'Inconsolata', Consolas, monospace;
}